

.header-subtitle {
  font-size: 1.1rem;
  padding: 1rem;
}
.header-list {
  padding: 0 2rem;
  list-style: disc;
  line-height: 2rem;
}
.header-show-function {
  font-weight: bold;
  color: darkorange;
}

